<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class='container'>
      <nav class='navbar navbar-light bg-faded'>
        <%= link_to 'Instagram clone', root_path, class: 'navbar-brand' %>
      </nav>

      <div class='row'>
        <p class='notice'><%= notice %></p>
        <p class='alert'><%= alert %></p>
      </div>

      <div class='row'>
        <div class='col-sm-4'>
          <%= yield :sidebar %>
        </div>

        <div class='col-sm-8'>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
